name: Secrets and Environment Variables
on:
    workflow_dispatch:
jobs:
    staging-environment:
        runs-on: ubuntu-24.04
        environment: staging
        env:
            # Inject repository-level secret & variable into the shell
            EXAMPLE_ENVIRONMENT_SECRET: ${{ secrets.EXAMPLE_ENVIRONMENT_SECRET }}
            EXAMPLE_ENVIRONMENT_VARIABLE: ${{ vars.EXAMPLE_ENVIRONMENT_VARIABLE }}
        steps:
            - name: Print environment variable
              run: |
                echo "The environment is $EXAMPLE_ENVIRONMENT_SECRET"
                echo "The environment is $EXAMPLE_ENVIRONMENT_VARIABLE"