name: run3
on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ '**' ]
jobs:
    run3:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World from run3!3️⃣"